h1 {
    color:darkturquoise;
    background-color: azure;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border: 2px solid darkturquoise;
    border-radius: 5px;    
    padding: 10px;
    margin: 20px;
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:20px;
}
nav {
    background-color: lightgoldenrodyellow;
    text-align: center;
    vertical-align:middle;
}
nav ul li {
    margin: 15px;
    justify-content: center;
    display: inline-block    
}
button:hover {
    cursor: pointer;
    background-color:dimgray;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
img {
    position:fixed; 
    top:0; 
    left:0; 
    width:100vw; 
    height:100vh; 
    object-fit:cover; 
    z-index:-1;
    opacity: 30%;
}
form {
    display: flex;
    flex-direction:column;
    gap: 3px;
    align-items:center;   
}
label {
    font-weight: bold;
    color: darkslategrey;
    padding: 10px;
    margin-right: 10px;
}

.media-upload-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 5px dashed lightgrey;
    padding: 20px;
    border-radius: 10px;
}
#retrieve-media {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: first baseline;
    border: 5px dashed lightslategray;
    padding: 30px;
    border-radius: 10px;
}
.media-download-section {
    justify-content: right;
}
.list-media-in-storage {
    justify-content: left;
}
.user-info {
    justify-content: right;
    font-size: 20px;
    color: darkslategrey;
    margin: 5px;
}